<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://watchportalfunctionpractice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/660e4eb5-0b62-4a64-b29a-ec39271b86df/resourceGroups/learn-d43dd6a2-7c7c-45a6-9e2d-6a9c7b205bb4/providers/Microsoft.Web/sites/watchportalfunctionpractice</ResourceId>
    <UserName>$watchportalfunctionpractice</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://watchportalfunctionpractice.scm.azurewebsites.net/</PublishUrl>
    <SCMUrl>https://watchportalfunctionpractice.scm.azurewebsites.net/</SCMUrl>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>